<%- include('./partials/header') %>
<%- include('./partials/userHeader') %>
<div class="axil-privacy-area axil-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="axil-privacy-policy">
          <span class="policy-published">This Privacy policy was published on February 26th, 2022.</span>
          <h4 class="title">GDPR compliance</h4>
          <p>Sed nec ex vitae justo molestie maximus... facilisis sem.</p>

          <h4 class="title">About Harisree Handlooms</h4>
          <p>In dapibus... dapibus volutpat est. Integer ullamcorper iaculis blandit. Pellentesque id tempus urna. Quisque luctus cursus imperdiet. <a href="mailto:hello@Harisree Handlooms.store">hello@Harisree Handlooms.store</a></p>

          <h4 class="title">When we collect personal data about you</h4>
          <ul>
            <li>Email is a crucial channel in any marketing.</li>
            <li>Curious what to say? How to say it?</li>
            <li>Whether you’re kicking off a new campaign.</li>
            <li>Habitasse per feugiat aliquam luctus accumsan curae</li>
          </ul>

          <h4 class="title">Why we collect and use personal data</h4>
          <p>Sed nec ex vitae justo molestie maximus... facilisis sem.</p>
          <ul>
            <li>Nulla facilisi. Sed pulvinar nec purus eu sollicitudin...</li>
            <li>Fusce malesuada luctus velit eu tempor...</li>
            <li>Pellentesque ornare nulla est, non blandit sapien...</li>
            <li>Aliquam lacus nisi, lobortis non diam eget...</li>
            <li>Vestibulum nulla tortor, aliquam at porta in...</li>
          </ul>

          <h4 class="title">Type of personal data collected</h4>
          <p>In ultrices elit malesuada velit ornare... facilisis sem.</p>

          <h4 class="title">Information we collect automatically</h4>
          <p>Etiam vel mi vel neque mattis iaculis... condimentum nulla felis...</p>

          <h4 class="title">The use of cookies and web beacons</h4>
          <p class="mb--20">We may log information using "cookies." Cookies are small data files stored on your hard drive by a website. Cookies help us make our Site and your visit better.</p>
          <p class="mb--20">We may log information using digital images called web beacons on our Site or in our emails.</p>
          <p>This information is used to make our Site work more efficiently... do not personally identify you.</p>

          <h4 class="title">How long we keep your data</h4>
          <p class="mb--20">We store personal data for as long as we find it necessary... safeguarding purposes.</p>
          <p>This means that we may retain your personal data... data will be anonymized.</p>

          <h4 class="title">Your rights to your personal data</h4>
          <p>We store personal data for as long as we find it necessary... safeguarding purposes.</p>

          <h4 class="title">Hotjar’s privacy policy</h4>
          <p>Pellentesque vestibulum venenatis iaculis... blandit odio. Curabitur iaculis ante elit, et imperdiet leo mollis at.</p>

          <h4 class="title">Changes to this Privacy Policy</h4>
          <p>Integer eu ornare lectus... molestie ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('./partials/footer') %>
</div>